@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --white-color:#ffff;
    --violet-color:#a921d2;
    --gray-color--:#c8c8c8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--violet-color);
    font-family: "Space Grotesk", sans-serif;
}
.card{
    background-color: var(--white-color);
    margin: 8% auto;
    height: 500px;
    border-radius: 15px;
    width: 500px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input_image,.btn{
    border: none;
   margin: 10px;
    text-align: center;
    
    z-index: 1000;
}
.card .response{
position: absolute;
top: 20;
margin: 10px;
height: 350px;
width: 90%;
}
.response img{
    object-fit: fit;
    height: 100%;
    width: 100%;
}
.btn{
    border-radius: 15px;
    padding: 15px;
    
    background-color: var(--violet-color);
    color: var(--white-color);
    cursor: pointer;
}
main{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.control-box{
    margin: 15px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
h3,h4{
    padding: 10px;
    text-align: center;
}
h4{
    position: fixed;
    
}
span{
    text-align: center;
    font-weight: bold;
}
.filter-btn{
    border: none;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    
}
.filter-btn:hover{
    background-color: var(--violet-color);
    color: var(--white-color);
}
.filter-btn.first{
    margin-top: 40px;
}
main .logo,.logo1{
    position: absolute;
    
    animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.logo1{
    top: 300px;
    right: 280px;
}
.logo{
    top: 300px;
    left: 80px;
}
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    70% {
        transform: translateX(60px);
      }
    100% {
      transform: translateY(0);
    }
  }